- content_for :sidebar do
  = render :partial => "spree/shared/taxonomies"
- content_for :head do
  = auto_discovery_link_tag(:rss, spree.questions_path(:format => :xml, :page => nil), {:title => "FAQ Feed" })

%h1=@title

#questions_container
  - @questions.each do |question|
    = link_to question.question, question
    %br/
    = question.description
    %hr/
  =paginate @questions